name: Weekly Docker Security Scan

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  build-and-scan:
    name: Build & Scan Images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3

      - name: Build Backend
        run: docker build -t backend:scan ./backend

      - name: Build Frontend
        run: docker build -t frontend:scan ./frontend

      - name: Scan Backend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'backend:scan'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'

      - name: Scan Frontend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'frontend:scan'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
